body{
    background-color: lightskyblue !important;
}

.quiz-card{
    width:30rem;
}

.container{
    min-height: 100vh;
    background-color: lightskyblue !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    border-top: 1px solid rgba(0,0,0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0, 0.05);
}