body{
    background-color: lightskyblue !important;
}

.quiz-card{
    width:30rem;
}

.container{
    min-height: 100vh;
    background-color: lightskyblue !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    border-top: 1px solid rgba(0,0,0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0, 0.05);
}

.bg-success, .bg-danger{
    color: white;
}

.text-center{
    text-align: center;
}

.endScreenText-design{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom:40px;
    background-color: beige;
    color: rgba(114, 108, 108, 1);
}

.endScreen-bg{
    background-color: beige;
}

